ul {
    list-style-type: none;
    padding-left: 0vw;
}

li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}


.about_store {	
    display: inline;
}

.gmail_images {
    display: inline;
    margin-left: 70vw;
}

.footer {    
    display: flex;
    justify-content: space-between;
    margin-top: 75vh; 
    position: fixed;
    left: 0vh;
    bottom: 0vh;
    width: 100vw;
    background-color: #e6e6e6;
    font-family: Arial, Helvetica, sans-serif;

}


.ads_biz_search {
    display: inline;
    text-align: left;
     
}

.privacy_terms_settings{
    display: inline;
    text-align: right;
    
}

.image {
    display: flex;
    justify-content: center;
    \* Optinal, but still makes it look better: margin-top: 10vh;*\
    margin-top: 10vh;
        

}


.search_div {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}


#searchbar {
    width: 40vw;
    height: 4vh;
    border-radius: 3vh;
}



.search_buttons {
    margin-top: 5vh;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

button {
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    padding: 4px 12px;

}