ul {
    list-style-type: none;
    padding-left: 0vw;
}

li {
    display: inline;
}


.about_store {	
    display: inline;
}

.gmail_images {
    display: inline;
    margin-left: 70vw;
}

.footer {    
    display: inline;
    margin-top: 75vh; 
    position: fixed;
    left: 0vh;
    bottom: 0vh;
    width: 100vw;
    background-color: gray;
}


.ads_biz_search {
    display: inline;
    text-align: left;
}

.privacy_terms_settings{
    display: inline;
    text-align: right;
}

.image {
    display: flex;
    justify-content: center;
    \* Optinal, but still makes it look better: margin-top: 10vh;*\
    margin-top: 10vh;
        

}


.search_div {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    
}


#searchbar {
    width: 40vw;
    height: 4vh;
    border-radius: 3vh;
}



.search_buttons {
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    positoon: absolute;
    top: 50vh;
    left: 50vw;
    
    margin-top: 5vh;
    
    \*margin-left: 30vw;*\
}

\*.feeling_lucky {
    display: flex;
    justify-content: center;
    background-color: #d3d3d3;
    margin-bottom: 150vh;
}

*\